   <h1><%= title %></h1>
    <form id="form" class="form" >
      <label for="login">Login</label><br>
      <input type="text" id="loginField" name="login" class="input" placeholder="Login..."><br>
      <label for="password">Hasło</label><br>
      <input type="password" id="password" name="password" class="input" placeholder="Hasło..."><br>
      <span class="valid-span"><%= validationField %></span><br>
      <input type="submit" id="submit" value="Potwierdź" class="button-style"><br>
    </form> 
